:root {
--brand-color:#2196F3;
--nav-color:#212121;
--title-color:#212121;
}
body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: #757575;}
a {
    text-decoration:none;
}
/*----------------------Header----------------------------*/
.header {
    background-color: #ffffff;
}
.nav-logo {
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.1923;    
        letter-spacing: 0.03em;    
        color: #000000;
}
.studio {
    color: var(--brand-color);
}
.nav-list a {
    list-style: none;
    color: var(--nav-color);
}
.list {
    list-style-type:none
}
.nav-list-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3333;
    letter-spacing: 0.02em;
    }
.nav-list-item a:hover,
.nav-list-item a:focus {
    color:var(--brand-color)
}
.adress a {
    font-weight: 500;
        font-size: 14px;
        line-height: 1.1428;
        letter-spacing: 0.02em;
       }
.adress a:hover,
.adress a:focus{
    color: var(--brand-color);
}
/*-----------------------Hero--------------------------------------*/
.hero {
    background-color: #2F303A;
}

.hero-title {
    color: #ffffff;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3636;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    border: 1px solid #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero-btn {
    background-color: var(--brand-color);
    font-weight: 700;
        font-size: 16px;
        line-height: 1.875;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        cursor: pointer;
}
/*-----------------------Properties--------------------------------*/
.properties {
    background-color: #F5F5F5;;
}

.hide {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal;
}

.properties-title {
    font-weight: 700;
        font-size: 14px;
        line-height: 1.7142;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--title-color);
}

.properties-text {
        font-size: 14px;
        line-height: 1.7142;    
        letter-spacing: 0.03em;
}
/*-----------------------Gallery-----------------------------------*/
.gallery-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1666;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    background-color: #F5F5F5;
}

.gallery-list {
    background: #F5F4FA ;
}
/*-----------------------Company-----------------------------------*/
.command-title, .command-list {
background-color: #F5F4FA;
}
.command-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.1666;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--title-color);
}
.title-name {
font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
}

.position {
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.03em;
}
/*-----------------------Footer------------------------------------*/
.footer {
    background-color: #2F303A;
}

.footer-logo {
font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1923;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.contacts-link {
    font-weight: 400;
        font-size: 14px;
        line-height: 1.7142;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        font-style: normal;
}

.contacts-item {
    font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
        font-style: normal;
}

/*---------------------------Portfolio------------------------------------*/
.button {
    background: #F5F4FA;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.625;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
        cursor: pointer;
}
.button:hover, 
.button:focus {
        background: #2196F3;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.625;
        text-align: center;
        letter-spacing: 0.03em;
        color: #FFFFFF;
}
.work {
    background-color: #F5F5F5;
}

.work-title {
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: var(--title-color);
}

.work-text {
        font-size: 16px;
        line-height: 1.875;
        letter-spacing: 0.03em;
}