:root {
--brand-color:#2196F3;
--second-brand-color:#000000;
--nav-color:#212121;
--contact-color:#757575;
--title-color:#212121;
}
body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}
ul {
    list-style-type:none
}
a {
    text-decoration:none;
}
/*----------------------Header----------------------------*/
.header {
    background-color: #ffffff;
}
.nav-logo {
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.1923;    
        letter-spacing: 0.03em;    
        color: #000000;
}
.studio {
    color: var(--brand-color);
}
.nav-list a {
    list-style: none;
    color: var(--nav-color);
}
.nav-list-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3333;
    letter-spacing: 0.02em;
    }
.nav-list-item a:hover,
.nav-list-item a:focus {
    color:var(--brand-color)
}
.adress a {
    font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: var(--contact-color)
}
.adress a:hover,
.adress a:focus{
    color: var(--brand-color);
}
/*-----------------------Hero--------------------------------------*/
.hero {}

.hero-title {}

.hero-btn {}
/*-----------------------Properties--------------------------------*/
.properties {}

.hide {}

.properties-list {}

.propert-list-item {}

.propert-title {}

.propert-text {}
/*-----------------------Gallery-----------------------------------*/
.title {}

.gallery-list {
    background: #F5F5F5;
}

.gallery-list-item {}
/*-----------------------Company-----------------------------------*/
.title {}

.title-name {}

.position {}
/*-----------------------Footer------------------------------------*/
.footer {}

.footer-link {}

.footer-adress {}

.contacts {}

.contacts-link {
    font-style: inherit;
}

.contacts-item {}

/*---------------------------Portfolio------------------------------------*/
